
.Main {
  display: flex;
  overflow: hidden;
  max-height: 100vh;
}

.Main .container {
  display: flex;
  width: 100vw;
}
.Main .container .outlet {
  flex-grow: 3;
  padding: 1rem;
}
.Main .container .navigation {
  background-color: aliceblue;
  padding-top: 0px;
  height: 100vh;
  top: -10px;
  position: relative;
}

.navigation{  
  display: flex;
  margin-top: 10px;
}

.lists{
  position: relative;
  background: #662d91;
  display: flex;
  flex-direction: column;
}

.rlists{
  color: black;
}

.Main .container .navigation ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.Main .container .navigation ul li {
  padding: 10px 80px 10px 20px;
}
.Main .container .navigation ul li.active,
.Main .container .navigation ul li:hover {
  background: #ccc;
}
.Main .container .navigation ul li a {
  text-decoration: none;
}

.Main .container .navigation ul li.logout {
  cursor: pointer;
}

.outlet{
  background: radial-gradient(465px at -15.1% -25%, rgb(17, 130, 193) 0%, rgb(67, 166, 238) 49%, rgb(126, 203, 244) 90.2%);
}